h1{
    background-color: white;
    color: black;
    font-size: x-large;
}

.chapter-heading{
  background-color: rgb(148, 148, 148);
  padding: 1rem;
  font-size: xx-large;
}

#increase-box{
  display: flex;
  align-items: center;
}

#increase-button{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: xx-large;
}

#increase-button:hover{
  background-color: rgb(67, 67, 67);
  color: white;
}

#display{
  display: flex;
  border: solid black 1px;
  padding: 1rem;
  margin: 1rem;
  font-size: xx-large;
}